<html>
<head>
    <title>Analyzer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    <div class="main">
        {% for recording in recordings %}
            <div class="recording">
                <div class="title">
                    {{ recording }}
                </div>
                <img src="/static/training-data/recognized/{{ recording }}.png" alt="audio" onclick="play(event, 'recognized/{{recording}}')" />
                <div class="actions">
                    <span></span>
                    <button onclick="confirm(event, '{{ recording }}', 'negative')">Confirm as negative</button>
                    <button onclick="confirm(event, '{{ recording }}', 'positive')">Confirm as positive</button>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="/static/common.js"></script>

    <script>
        function confirm(event, recording, type) {
            console.log(recording, type);
            const parentRecording = event.target.closest(".recording");
            parentRecording.classList.add('disapear');
            setTimeout(() => {
                parentRecording.remove();
            }, 500);

            fetch('/analyze/confirm', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    type,
                    recording
                })
            }).catch(console.alert);
        }
    </script>
</body>
</html>