{% extends "partials/base.html" %}

{% block title %}Cropper - Sound Classifier{% endblock %}

{% block content %}
<div class="main">
    {% for recording in recordings %}
    {% set parts = recording.replace('output-', '').replace('.wav', '').split('-') %}
    {% set timestamp = parts[0] | float %}
    
    <div class="recording" data-recording="raw/{{recording}}">
        <div class="title">
            <div>{{ timestamp | strftime('%Y-%m-%d %H:%M:%S') }}</div>
        </div>
        <div class="waveform-container">
            <img class="recording-image" src="/static/training-data/raw/{{ recording }}.png" alt="audio"
                onclick="play(event, 'raw/{{recording}}')" />
            <div class="playback-line"></div>
        </div>
        <div class="actions">
            <button class="btn-positive" onclick="crop(event, '{{ recording }}')">Crop 2s</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
    function crop(event, recording) {
        fetch('/crop', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                recording,
                position: audiosPosition["raw/" + recording]
            })
        }).catch(console.error);
    }
</script>
{% endblock %}
