{% extends "partials/base.html" %}

{% block title %}Recorder - Sound Classifier{% endblock %}

{% block content %}
<div class="main" style="grid-template-columns: 1fr; max-width: 600px;">
    <div class="recording">
        <div class="title">
            <div>Recorder</div>
        </div>
        <div id='button-container'>
            <button class="btn-positive" onclick="save()">Save last 30 seconds</button>
        </div>
        <div id="result" style="text-align: center; color: var(--text-secondary); margin-top: 1rem;">Result...</div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    async function save() {
        const response = await fetch("/recordings", {
            method: 'POST',
        });
        document.getElementById("result").innerHTML = await response.text();
    }
</script>
{% endblock %}
